<a href="https://colab.research.google.com/github/Navya28-khanna/ML_LAB/blob/main/LAB4_GERMAN_CREDIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_excel("german credit.xlsx")
df.head()

,Status of existing checking account,Duration,Credit history,Purpose,Column1,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,No. Of children
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

Descriptive Statistics
Basic info

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Status of existing checking account                       1000 non-null   object
 1   Duration                                                  1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose                                                   1000 non-null   object
 4   Column1                                                   1000 non-null   int64
 5   Savings account/bonds                                     1000 non-null   object
 6   Present employment since                                  1000 non-null   object
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   Personal status and sex                                   1000 non-null   object
 9   Other debtors / guarantors                                1000 non-null   object
 10  Present residence since                                   1000 non-null   int64
 11  Property                                                  1000 non-null   object
 12  Age                                                       1000 non-null   int64
 13  Other installment plans                                   1000 non-null   object
 14  Housing                                                   1000 non-null   object
 15  Number of existing credits at this bank                   1000 non-null   int64
 16  Job                                                       1000 non-null   object
 17  Number of people being liable to provide maintenance for  1000 non-null   int64
 18  Telephone                                                 1000 non-null   object
 19  foreign worker                                            1000 non-null   object
 20  No. Of children                                           1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

Summary statistics

In [4]:
df.describe()

,Duration,Column1,Installment rate in percentage of disposable income,Present residence since,Age,Number of existing credits at this bank,Number of people being liable to provide maintenance for,No. Of children
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

checking coloumn names

In [6]:
print(df.columns)

Index(['Status of existing checking account', 'Duration', 'Credit history',
       'Purpose', 'Column1', 'Savings account/bonds',
       'Present employment since',
       'Installment rate in percentage of disposable income',
       'Personal status and sex', 'Other debtors / guarantors',
       'Present residence since', 'Property', 'Age', 'Other installment plans',
       'Housing', 'Number of existing credits at this bank', 'Job',
       'Number of people being liable to provide maintenance for', 'Telephone',
       'foreign worker', 'No. Of children '],
      dtype='object')

Target distribution (Telephone)

In [7]:
df["Telephone"].value_counts()

Telephone
A191    596
A192    404
Name: count, dtype: int64

Data Cleaning

In [8]:
df.isnull().sum()

Status of existing checking account                         0
Duration                                                    0
Credit history                                              0
Purpose                                                     0
Column1                                                     0
Savings account/bonds                                       0
Present employment since                                    0
Installment rate in percentage of disposable income         0
Personal status and sex                                     0
Other debtors / guarantors                                  0
Present residence since                                     0
Property                                                    0
Age                                                         0
Other installment plans                                     0
Housing                                                     0
Number of existing credits at this bank                     0
Job                                                         0
Number of people being liable to provide maintenance for    0
Telephone                                                   0
foreign worker                                              0
No. Of children                                             0
dtype: int64

Fill missing values with most frequent value

In [9]:
df.fillna(df.mode().iloc[0], inplace=True)

Feature + Target Split

In [10]:
y = df["Telephone"]
X = df.drop("Telephone", axis=1)

Encode Categorical Columns

In [11]:
X = pd.get_dummies(X, drop_first=True)

In [12]:
y = y.map({"yes": 1, "no": 0})

Train-Test Split

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Train Logistic Regression Model converting

In [17]:
y = df["Telephone"].map({
    "A191": 0,
    "A192": 1
})

In [18]:
print(y.isnull().sum())

0

In [20]:
y = df["Telephone"].astype(str).str.strip()
print(y.unique())

['A192' 'A191']

In [21]:
y = y.map({
    "A191": 0,
    "A192": 1
})

In [22]:
print("NaNs in y:", y.isnull().sum())

NaNs in y: 0

Drop rows if still missing

In [23]:
df = df[df["Telephone"].isin(["A191", "A192"])]

In [24]:
y = df["Telephone"].map({"A191": 0, "A192": 1})

In [25]:
# Target cleaning
y = df["Telephone"].astype(str).str.strip()

# Keep only valid classes
df = df[df["Telephone"].isin(["A191", "A192"])]

# Encode target
y = df["Telephone"].map({"A191": 0, "A192": 1})

print("Unique target values:", y.unique())
print("NaNs in target:", y.isnull().sum())

Unique target values: [1 0]
NaNs in target: 0

Logistic Regression Training

In [26]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

ValueError: Input y contains NaN.