In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_excel("/content/german credit.xlsx")
df.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,No. Of children
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [24]:
df.isnull()

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,No. Of children
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
df.isnull().sum()

Status of existing checking account                         0
Duration                                                    0
Credit history                                              0
Purpose                                                     0
Credit amount                                               0
Savings account/bonds                                       0
Present employment since                                    0
Installment rate in percentage of disposable income         0
Personal status and sex                                     0
Other debtors / guarantors                                  0
Present residence since                                     0
Property                                                    0
Age                                                         0
Other installment plans                                     0
Housing                                                     0
Number of existing credits at this bank                     0
Job                                                         0
Number of people being liable to provide maintenance for    0
Telephone                                                   0
foreign worker                                              0
No. Of children                                             0
dtype: int64

In [26]:
df.notnull().sum()

Status of existing checking account                         1000
Duration                                                    1000
Credit history                                              1000
Purpose                                                     1000
Credit amount                                               1000
Savings account/bonds                                       1000
Present employment since                                    1000
Installment rate in percentage of disposable income         1000
Personal status and sex                                     1000
Other debtors / guarantors                                  1000
Present residence since                                     1000
Property                                                    1000
Age                                                         1000
Other installment plans                                     1000
Housing                                                     1000
Number of existing credits at this bank                     1000
Job                                                         1000
Number of people being liable to provide maintenance for    1000
Telephone                                                   1000
foreign worker                                              1000
No. Of children                                             1000
dtype: int64

In [27]:
df_drop = df.dropna()

In [28]:
df_drop_col = df.dropna(axis=1)

In [29]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [34]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [36]:
df['Credit amount'] = df['Credit amount'].astype(int)

In [37]:
df.rename(columns={'Country': 'Country_Name'}, inplace=True)

In [39]:
df['Age'] = df['Age'].replace({'60': 'old', '20': 'young'})